@model WaterCompanyWeb.Models.WaterMeterViewModel
@{
    ViewData["Title"] = "CreateInvoice";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInvoice">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" asp-items="Model.Clients" class="form-control text-center" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionDate" class="control-label"></label>
                <input asp-for="ConsumptionDate" class="form-control" disabled />
                <span asp-validation-for="ConsumptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" disabled />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn"><i class="fa fa-save fa-lg" style="color: #B38B59;"></i> Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn"><i class="fa fa-rotate-left fa-lg" style="color: #B38B59;"></i> Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}