@model WaterCompanyWeb.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_WaterMetersCreateEdit" />
            <div class="form-group">
                <button type="submit" class="btn"><i class="fa fa-save fa-lg" style="color: #B38B59;"></i> Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn"><i class="fa fa-rotate-left fa-lg" style="color: #B38B59;"></i> Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
