@model WaterCompanyWeb.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionDate" class="control-label"></label>
                <input asp-for="ConsumptionDate" class="form-control" />
                <span asp-validation-for="ConsumptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConsumption" class="control-label"></label>
                <input asp-for="TotalConsumption" class="form-control" />
                <span asp-validation-for="TotalConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn"><i class="fa fa-save fa-2xl" style="color: #B38B59;"></i> Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn"><i class="fa fa-rotate-left fa-2xl" style="color: #B38B59;"></i> Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
