@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At The Water Company, we understand and respect the significance of your privacy and the security of your personal and consumption data. This Privacy Policy is designed to inform you about how we collect, use, and safeguard your information. We believe that the responsible handling of data is fundamental to building trust and ensuring your peace of mind.

    In today's interconnected digital world, personal and consumption data have become valuable assets. As a water meter company, we are entrusted with the task of accurately measuring your water consumption and providing essential services to our clients. We recognize the importance of protecting this data, and we are committed to upholding the highest standards of privacy and data security.

    Our commitment to your privacy is rooted in our core values and dedication to delivering reliable water metering solutions. We have established strict policies, procedures, and security measures to ensure that your data remains confidential and is used solely for the purposes that benefit you.

    In this Privacy Policy, we will outline the details of our data collection, usage, security practices, and your rights regarding your data. We encourage you to read this policy carefully to understand how we operate and how we strive to protect your information.

    Should you have any questions or concerns about our privacy practices, please do not hesitate to contact us. Your trust is of utmost importance to us, and we are committed to providing you with the transparency and security you deserve.

    Thank you for choosing The Water Company as your trusted partner in water metering. We look forward to serving you while safeguarding your privacy and data security.
</p>
