@model WaterCompanyWeb.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="form-floating mb-3">
                                <label asp-for="OldPassword">Current password</label>
                                <input type="password" asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-warning"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="NewPassword">New Password</label>
                                <input type="password" asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-warning"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="Confirm">Confirm Password</label>
                                <input type="password" asp-for="Confirm" class="form-control" />
                                <span asp-validation-for="Confirm" class="text-warning"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="submit" value="Change password" class="btn btn-primary" />
                                <a asp-action="ChangeUser" class="btn btn-success">Back to user</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
