@{
    ViewData["Title"] = "NotAuthorized";
}


<div class="message">
    <h1>Access to this page is restricted</h1>
    <p>Please get in touch with our support if you believe this is a mistake.</p>
</div>