@model WaterCompanyWeb.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                                <div class="col-6">
                <div class="form-floating mb-3">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-warning"></span>
                </div>
                                </div>
                                <div class="col-6">
                <div class="form-floating mb-3">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-warning"></span>
                </div>
                                </div>
            </div>

            <div class="form-floating mb-3">
                <label asp-for="Username">Email</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-floating mb-3">
                <label asp-for="Email">Confirm Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            @* <div class="form-floating mb-3">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Confirm">Confirm Password</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div> *@

            <div class="form-floating mb-3">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
            </div>

            <div class="form-floating mb-3">
                <label asp-for="AccountRole" class="control-label"></label>
                <select asp-for="AccountRole" asp-items="Model.Roles" class=" form-control"></select>
                <span asp-validation-for="AccountRole" class="text-danger"></span>
            </div>

                <input type="submit" value="Register New User" class="btn btn-primary" />
        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}