@model WaterCompanyWeb.Models.ClientViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
            <partial name="_ClientsCreateEdit" />
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width: auto; height: 400px;" />
                }
            </div>
            <div>
                <button asp-action="Edit" asp-for="Id" class="btn"><i class="fa fa-save fa-lg" style="color: #9A8174;"></i> Save</button> @*SAVE BUTTON*@
                <a asp-action="Index" class="btn"><i class="fa fa-rotate-left fa-lg" style="color: #9A8174;"></i> Back</a> @*BACK BUTTON*@
                @if (this.User.IsInRole("Client"))
                {
                    <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-outline-success"><i class="fa-solid fa-key fa-lg" style="color: #9A8174;"></i> Change Password</a> @*CHANGE PW BUTTON*@
                }
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
