@model WaterCompanyWeb.Data.Entities.Staff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <partial name="_StaffsDeleteDetails" />
    </dl>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn"> <i class="fa-solid fa-pen-to-square fa-lg" style="color: #9A8174;"></i> Edit</a> @*EDIT BUTTON*@
    <a asp-action="Index" class="btn"><i class="fa fa-rotate-left fa-lg" style="color: #9A8174;"></i> Back</a> @*BACK BUTTON*@
</div>